// Colores 
$color-Red: hsl(0, 78%, 62%);
$color-Cyan: hsl(180, 62%, 55%);
$color-Orange: hsl(34, 97%, 64%);
$color-Blue: hsl(212, 86%, 64%);
$color-Very-Dark-Blue: hsl(234, 12%, 34%);
$color-Grayish-Blue: hsl(229, 6%, 66%);
$color-Very-Light-Gray: hsl(0, 0%, 98%);

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
$fontFamily: 'Poppins', sans-serif;
$fontSize: 15px;

// Section main
$marginElements: 10px;
$paddingElements: 30px;

// Cards
$border-height: 5px;
$padding-card: 25px;
$gap-cards: 25px;

// Media queries
$width-Mobile: 576px;
$width-Tablets: 768px;
$width-Desktop: 992px;
$width-Large: 1200px;


// display: grid;
// grid-template-columns: repeat(6, 1fr);
// grid-template-rows: repeat(4, 110px);

